<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SpiceJet Booking Test Suite">
  <test thread-count="5" name="Chrome Test">
    <classes>
      <class name="com.spicejet.automation.SpiceJetBookingTest"/>
    </classes>
  </test> <!-- Chrome Test -->
</suite> <!-- SpiceJet Booking Test Suite -->
